{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">

  <div class="container">
    <!-- Title -->
    <h1 class="h3 font-weight-bold text-center mb-0" style="margin-top: 4%;"><a href="#" class="text-muted"></a>Hasil Pertandingan</h1>
    <div class="d-flex justify-content-between align-items-center py-3">
      <h2 class="h5 mb-0"><a href="#" class="text-muted"></a>Indonesia Master (R32)</h2>
      <a href="#" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
      </a>
    </div>
  
    <!-- Main content -->
    <div class="row">
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3 d-flex justify-content-between">
              <div>
                <span class="badge rounded-pill bg-primary">Kategori Superseries: S500</span>
              </div>
 
            </div>
            <table class="table table-borderless" style="width: 100%;">
          
              <tfoot>
                <tr>
                  <td colspan="2">Stadium</td>
                  <td class="text-end">Istora Senayan</td>
                </tr>
                <tr>
                  <td colspan="2">Kapasitas</td>
                  <td class="text-end">40.000</td>
                </tr>
                <tr>
                  <td colspan="2">Hadiah</td>
                  <td class="text-end">Rp 20.000.000.000</td>
                </tr>
                <tr>
                  <td colspan="2">Tanggal Mulai</td>
                  <td class="text-danger text-end">05/10/2020</td>
                </tr>
                <tr>
                  <td colspan="2">Tanggal Selesai</td>
                  <td class="text-end">11/10/2020</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        

      </div>
      <div class="col-lg-4">
        <!-- Customer Notes -->
        <div class="card mb-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Tahap</th>
                <th scope="col">Nama Tim</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Juara 1</th>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">Juara 2</th>
                <td>G</td>
              </tr>
              <tr>
                <th scope="row">Juara 3</th>
                <td colspan="2">D</td>
              </tr>
              <tr>
                <th scope="row">Semifinal</th>
                <td colspan="2">E</td>
              </tr>
              <tr>
                <th scope="row">Perempat Final</th>
                <td colspan="2">C</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2">F</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="B">F</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2">H</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}