{% extends 'base.html' %}

{% block title %}Pertanyaan Kualifikasi{% endblock %}

{% block content %}
<div class="container" id="update_sesi_konsultasi_container" style="margin-bottom: 100px;">
    <h1><b>Form Data Kualifikasi</b></h1>
    <form method="post">
    {% csrf_token %}
    <form>
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Apa nama asosiasi persatuan badminton Indonesia? </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                PBSI
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
                PRSI
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                PSSI
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  PERBASI
                </label>
              </div>
          </div>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Siapakah salah satu legenda badminton dari Indonesia? </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                Lee Chong Wei
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
                Lin Dan
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                Peter Gede
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  Taufik Hidayat
                </label>
              </div>
          </div>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Kapan terkahir kali Indonesia menjuarai Piala Thomas Cup? </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                2022
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
               2018
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                2016
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  2020
                </label>
              </div>
          </div>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Siapakah Ganda Putra dengan peringkat tertinggi saat ini dari Indonesia? </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                Marcus & Kevin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
               Fajar & Rian
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                Ahsan & Hendra
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  Pramudya & Yeremia
                </label>
              </div>
          </div>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Siapakah peraih emas Olimpiade Tokyo 2020? </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                Anthony Sinisuka Ginting
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
               Tontowi Ahmad & Liliyana Natsir
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                Mohammad Ahsan & Hendra Setiawan
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  Greysia Polii & Apriyani Rahayu
                </label>
              </div>
          </div>
        </div>

        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Siapakah yang merupakan atlet tunggal putri dari Indonesia?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="jawaban1" checked>
              <label class="form-check-label" for="gridRadios1">
                Liliyana Natsir
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="jawaban2">
              <label class="form-check-label" for="gridRadios2">
               Apriyani Rahayu
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban3">
              <label class="form-check-label" for="gridRadios3">
                Gregoria Mariska Tunjung
              </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="jawaban4">
                <label class="form-check-label" for="gridRadios3">
                  Ribka Sugiarto
                </label>
              </div>
          </div>
        </div>


    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  AOS.init();
</script>

{% endblock %}