{% extends 'base.html' %}

{% block meta %}
<style>
   .row {
        width: 100%;
        display: flex;
        column-gap: 4px;
        align-items: center;
   }
   .label {
        width: 30%;
        font-weight: 600;
   }
   .value {
        flex: 1;
   }
</style>
{% endblock meta %}

{% block content %}
<div class="container">
                      
                                
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title m-b-0">List Atlet</h5>
            </div>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="thead-light">
                            <tr>
                                <!-- <th>
                                    <label class="customcheckbox m-b-20">
                                        <input type="checkbox" id="mainCheckbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th> -->
                                <th scope="col">Nama Atlet</th>
                                <th scope="col">Email</th>
                                <th scope="col">World Rank</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr>
                                <!-- <th>
                                    <label class="customcheckbox">
                                        <input type="checkbox" class="listCheckbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th> -->
                                <td>Kylie Trent</td>
                                <td>ktrent2@flickr.com</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Ursuline Claris</td>
                                <td>uclaris6@miibeian.gov.cn</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <!-- <th>
                                    <label class="customcheckbox">
                                        <input type="checkbox" class="listCheckbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th> -->
                                <td>Mirabelle Deam</td>
                                <td>mdeamk@mysql.com</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <!-- <th>
                                    <label class="customcheckbox">
                                        <input type="checkbox" class="listCheckbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th> -->
                                <td>Glenna Tesh</td>
                                <td>gtesho@mapy.cz</td>
                                <td>20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

   </div> 

{% endblock content %}