{% extends 'base.html' %}

{% block meta %}
<title>Enrolled Event</title>
{% endblock meta %}

{% block content %}
<div class="card text-center" style="margin: 3rem 20% 0rem 20%;">
    <div class="card-header">
      Ganda Putra
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>All England 2023</b></h5>
      <p class="card-text">🚩Superseries 1000</p>
      <p class="card-text">Win the prize in total 💰<strong>Rp189200023100</strong></p>
      <p class="card-text">📍Utilita Arena, Birmingham</p>
      <p class="card-text">You'll be cheered by <strong>60000 </strong>spectators</p>
      <a href="#" class="btn btn-primary">Unenrolled</a>
    </div>
    <div class="card-footer text-muted"> 10/10/2023 - 16/10/2023
    </div>
  </div>

  <div class="card text-center" style="margin: 3rem 20% 0rem 20%;">
    <div class="card-header">
      Ganda Putra
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>Indonesia Master 2020</b></h5>
      <p class="card-text">🚩Superseries 500</p>
      <p class="card-text">Win the prize 💰💲<strong>Rp20000000000</strong></p>
      <p class="card-text">📍Istora Senayan, Jakarta</p>
      <p class="card-text">You'll be cheered by <strong>40000 </strong>spectators</p>
      <a href="#" class="btn btn-primary">Unenrolled</a>
    </div>
    <div class="card-footer text-muted"> 05/10/2020 - 11/10/2020
    </div>
  </div>

{% endblock %}